<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Pooled Admin Panel </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="nothing" />
    <script type="application/x-javascript"> addEventListener ("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('BackOffice/css/bootstrap.min.css')}}" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="{{ asset('BackOffice/css/style.css')}}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ asset('BackOffice/css/morris.css')}}" type="text/css"/>
    <!-- Graph CSS -->
    <link href="{{ asset('BackOffice/css/font-awesome.css')}}" rel="stylesheet"/>
    <!-- jQuery -->
    <script src="{{ asset('BackOffice/js/jquery-2.1.4.min.js')}}"></script>
    <!-- //jQuery -->
    <!-- tables -->
    <link rel="stylesheet" type="text/css" href="{{ asset('BackOffice/css/table-style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('BackOffice/css/basictable.css')}}" />
    <script type="text/javascript" src="{{ asset('BackOffice/js/jquery.basictable.min.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });

            $('#table-swap-axis').basictable({
                swapAxis: true
            });

            $('#table-force-off').basictable({
                forceResponsive: false
            });

            $('#table-no-resize').basictable({
                noResize: true
            });

            $('#table-two-axis').basictable();

            $('#table-max-height').basictable({
                tableWrapper: true
            });
        });
    </script>
    <!-- //tables -->
    <link href='{{ asset('//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400')}}' rel='stylesheet' type='text/css'/>
    <link href='{{ asset ('//fonts.googleapis.com/css?family=Montserrat:400,700') }}' rel='stylesheet' type='text/css'/>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{ asset('BackOffice/css/icon-font.min.css')}}" type='text/css' />
    <!-- //lined-icons -->
</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="mother-grid-inner">
            <!--header start here-->
            <div class="header-main">
                <div class="logo-w3-agile">
                    <h1><a href="index.html">Pooled</a></h1>
                </div>
                <div class="w3layouts-left">

                    <!--search-box-->
                    <div class="w3-search-box">
                        <form action="#" method="post">
                            <input type="text" placeholder="Search..." required="">
                            <input type="submit" value="">
                        </form>
                    </div><!--//end-search-box-->
                    <div class="clearfix"> </div>
                </div>
                <div class="w3layouts-right">
                    <div class="profile_details_left"><!--notifications of menu start -->
                        <ul class="nofitications-dropdown">




                            <div class="clearfix"> </div>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <!--notification menu end -->

                    <div class="clearfix"> </div>
                </div>
                <div class="profile_details w3l">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="{{ asset('BackOffice/images/in4.jpg')}}" alt=""> </span>
                                    <div class="user-name">
                                        <p></p>
                                        <span>Administrateur</span>
                                    </div>
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                <li> <a href="fos_user_security_login"><i class="fa fa-user"></i> Profile</a> </li>
                                <li> <a href="fos_user_security_logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
            <!--heder end here-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a><i class="fa fa-angle-right"></i>evenements</li>
            </ol>
            <div class="agile-grids">
                <!-- tables -->

                <div class="agile-tables">
                    <div class="w3l-table-info">

                        {% block evenements %}

                        {% endblock %}

                    </div>

                </div>
                <!-- //tables -->
            </div>
            <!-- script-for sticky-nav -->
            <script>
                $(document).ready(function() {
                    var navoffeset=$(".header-main").offset().top;
                    $(window).scroll(function(){
                        var scrollpos=$(window).scrollTop();
                        if(scrollpos >=navoffeset){
                            $(".header-main").addClass("fixed");
                        }else{
                            $(".header-main").removeClass("fixed");
                        }
                    });

                });
            </script>
            <!-- /script-for sticky-nav -->
            <!--inner block start here-->
            <div class="inner-block">

            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Pooled . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu" >
                <li><a href={{ path ('_dashboard') }}><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>



                <li><a href={{ path ('_afficheevenement') }}><i class="fa fa-picture-o" aria-hidden="true"></i><span>gestion des evenements </span><div class="clearfix"></div></a>

                <li id="menu-academico" ><a href={{ path ('_statistique') }}><i class="fa fa-bar-chart"></i><span>statistique</span><div class="clearfix"></div></a>

                <li id="menu-academico" ><a href={{ path ('_ajoutevenement') }}><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>ajout evenement</span><div class="clearfix"></div></a></li>

                </li>
            </ul>



        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<!--js -->
<script src="{{ asset('BackOffice/js/jquery.nicescroll.js')}}"></script>
<script src="{{ asset('BackOffice/js/scripts.js')}}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('BackOffice/js/bootstrap.min.js')}}"></script>
<!-- /Bootstrap Core JavaScript -->

</body>
</html>