<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Z'animaux</title>
    <link href=" {{ asset('css/bootstrap.css')}}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src=" {{ asset('js/jquery.min.js')}}"></script>
    <!-- Custom Theme files -->
    <link href=" {{ asset('css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href=" {{ asset('css/form.css')}}" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <!-- dropdown -->
    <script src=" {{ asset('js/jquery.easydropdown.js')}}"></script>
    <link href=" {{ asset('css/nav.css')}}')}}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src=" {{ asset('js/hover_pack.js')}}"></script>
    <link rel="stylesheet" href=" {{ asset('css/etalage.css')}}">
    <script src=" {{ asset('js/jquery.etalage.min.js')}}"></script>
    <script>
        jQuery(document).ready(function($){

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 800,
                source_image_height: 1000,
                show_hint: true,
                click_callback: function(image_anchor, instance_id){
                    alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                }
            });

        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
            });
        });
    </script>

</head>
<body>
<!-- header-section-starts -->
<div class="c-header" id="home">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href=" {{ asset('index.html')}}"><img src=" {{ asset('images/logo.png')}}" alt="" /></a>
            </div>
            <div class="header-top-right">
                <!-- start search-->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src=" {{ asset('js/classie.js')}}"></script>
                <script src=" {{ asset('js/uisearch.js')}}"></script>
                <script>
                    new UISearch( document.getElementById( 'sb-search' ) );
                </script>
                <!-- //search-scripts -->

                <a href=" {{ asset('cart.html')}}"><i class="cart"></i></a>
            </div>
            <div class="navigation">
                <div>
                    <label class="mobile_menu" for="mobile_menu">
                        <span>Menu</span>
                    </label>
                    <input id="mobile_menu" type="checkbox">
                    <ul class="nav">
                        <li class="active"><a href="{{ asset('index.html')  }}">Home</a></li>
                        <li class="dropdown1"><a href="#">Dresses</a>
                            <ul class="dropdown2">
                                <li><a href="{{ asset('products.html.twig')  }}">Dress Materials</a></li>
                                <li><a href="{{ asset('products.html.twig')  }}">Kurta & Kurti</a></li>
                                <li><a href="{{ asset('products.html.twig')  }}">Sarees</a></li>
                                <li><a href="{{ asset('products.html.twig')  }}">Chudidars</a></li>
                            </ul>
                        </li>
                        <li class="dropdown1"><a href="#">Bags</a>
                            <ul class="dropdown2">
                                <li><a href="{{ asset('products.html.twig')  }}">Latest</a></li>
                                <li><a href="{{ asset('products.html.twig')  }}">Leather Bags</a></li>
                                <li><a href="{{ asset('products.html.twig')  }}">Hand Bags</a></li>
                            </ul>
                        </li>
                        </li>
                        <li class="dropdown1"><a href="#">SOS</a>
                            <ul class="dropdown2">
                                <li><a href="{{ path('adopter') }}">Adopter un animal</a></li>
                                <li><a href="{{ path('adherer')  }}">Adherer un animal</a></li>
                                <li><a href="{{ path('client_animal')  }}">Votre Bull</a></li>
                                <li><a href="{{ path('refuge')  }}">Trouvez un Refuge</a></li>
                                <li><a href="">Forum</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ asset('contact.html')  }}">Contact US</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start-single-page -->
<!-- content -->
<div class="container">
    <div class="dreamcrub">
        <ul class="breadcrumbs">

            <li class="home">
                <a href=" {{ asset('index.html')}}" title="Go to Home Page"><img src=" {{ asset('images/home.png')}}" alt=""/></a>&nbsp;
                <span>&gt;</span>
            </li>
            <li>
                Sales
            </li>&nbsp;
            <span>&gt;</span>
            <li>products</a></li>
        </ul>
        <ul class="previous">
            <li><a href=" {{ asset('index.html')}}">Back to Previous Page</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- start content -->
  {% block review %}
    {% endblock %}

<!-- end content -->
<!-- content-section-ends -->
<div class="footer">
    <div class="up-arrow">
        <a class="scroll" href=" {{ asset('#home')}}"><img src=" {{ asset('images/up.png')}}" alt="" /></a>
    </div>
    <div class="container">
        <div class="copyrights">
            <p>Copyright &copy; 2015 All rights reserved | Template by  <a href=" {{ asset('http://w3layouts.com')}}">  W3layouts</a></p>
        </div>
        <div class="footer-social-icons">
            <a href=" "><i class="fb"></i></a>
            <a href=""><i class="tw"></i></a>
            <a href=""><i class="in"></i></a>
            <a href=""><i class="pt"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>