{% extends 'BackOffice/home.html.twig' %}

{% block listeSuivi %}
    <div class="grid-form1">
        <h3>Ajout Suivi Animal</h3>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                {{ form_start(f, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        <label for="focusedinput" class="col-sm-2 control-label">Nom :</label>
                        <div class="col-sm-8">
                            {{ form_widget(f.nom, {'att':{'class':'form-control1'}}) }}
                        </div>
                    </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Sexe :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.sexe, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Date Naissance :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.dateNaissance, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Race :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.race, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Espece :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.espece, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Poids :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.poids, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Taille :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.taille, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Description :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.description, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Date Vaccin :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.dateVaccin, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Date derniere visite :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.dateVisiteD, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Vet :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.vet, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="focusedinput" class="col-sm-2 control-label">Image :</label>
                         <div class="col-sm-8">
                             {{ form_widget(f.file, {'att':{'class':'form-control1'}}) }}
                         </div>
                     </div>
                             <div class="col-sm-8 col-sm-offset-2">
                                 {{ form_widget(f.ajout, {'att':{'class':'btn-primary btn'}})}}
                             </div>

                     {{ form_end(f) }}

            </div>
        </div>
    </div>


{% endblock %}