{% extends 'BackOffice/home.html.twig' %}

{% block listeSuivi %}
<div class="grid-form1">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="{{ asset ('SuiviSante/css/style.css') }}" rel='stylesheet' type='text/css'/>
        <link href="{{ asset ('SuiviSante/css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all" />

    </head>
    {% for voitures in m %}
    <h3>Réclamation N° {{ voitures.id  }}</h3>

    <body>
    <!-- <h1>Suivi Santé Animal</h1>-->
    <div class="main-agileits">
        <div class="right-wthree">
            <img src="{{ asset('uploads/images/evenement/'~ voitures.image) }}" alt="image"  width="400" height="400"/>
            <h2>{{ voitures.nom  }}</h2>
        </div>
        <div class="left-w3ls">
            <ul class="address">

                <li>
                    <ul class="address-text">
                        <li><b>Nom </b></li>
                        <li>: {{ voitures.nom }}</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>Date Réclamation </b></li>
                        <li>: {{ voitures.dateR|date('Y-m-d') }}</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>Mail</b></li>
                        <li>: {{ voitures.mail }}</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>Mobile</b></li>
                        <li>: {{ voitures.mobile }}</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>Titre</b></li>
                        <li>: {{ voitures.titre }}</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>Subject </b></li>
                        <li>: {{ voitures.subject }}</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>Image </b></li>
                        <li>: {{ voitures.image }}</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>Vet Réclamé </b></li>
                        <li>: nom vet </li>
                    </ul>
                </li>

            </ul>

            <div class="button">
                <ul>
                    <li> <a href="{{ path ('mailAdminClient', {'mailR': voitures.mail}) }}">Répondre </a></li>
                </ul>
            </div>
            {% endfor %}

            <!--
            <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
                <div class="agileits_modal_body">
                    <iframe src="https://player.vimeo.com/video/8483438?title=0&byline=0&portrait=0"></iframe>
                </div>
            </div>
            -->
            <!-- //pop-up-box -->

        </div>

        <div class="clear"></div>
    </div>
    <footer>
        <p class="agileinfo"> <a href="{{ path ('listeReclamation') }}">Retour Liste Réclamation</a></p>
    </footer>
    </body>
    </html>
    {% endblock %}
