{% extends "@Template/FrontOffice/products.html.twig" %}
{% block produits %}
    {% for produits in p %}

        <div class="clearfix"></div>
        </div>
        <div class="box1">
        <div class="col_1_of_single1 span_1_of_single1">
        <div class="view1 view-fifth1">
            <div class="top_box">
                <h3 class="m_1"><a href="{{ path ('_single',
                    {'id':produits.id,'nom':produits.nom,'prix':produits.prix,'image':produits.image,'quantite':produits.quantiteStock})}}">
                        <div style="font-size:160%;text-align:center;">
                            <b>{{ produits.nom }}</b></div></a></h3>

                <a href="{{ path ('_single',
                {'id':produits.id,'nom':produits.nom,'prix':produits.prix,'image':produits.image,'quantite':produits.quantiteStock})}}">

                    <div class="grid_img">
                        <div class="css3"></br><img src="{{ asset('uploads/images/' ~ produits.image) }}" width="200px" height="200px"></div>
                        <div class="mask1">
                            <div class="info" >Quick View</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="price"><div style="font-family:courier;font-size:160%;text-align:center;">
                    <b>{{ produits.prix }} DT</b>
                    <br>
                    <b><i style="color: brown">Note:{{ produits.rating }}/5</i></b>
                    <div style="color: green;font-family: 'Roboto', sans-serif">Nombre de vote sur le produit : {{ produits.nombreDeVote }}</div></div></div>
            </br>
        </div>
        <ul class="list2">

            <br> <img src="{{ asset('images/plus.png')}}" alt=""/>

            <a class="active-icon c1" style="color: #f9ecec"  href="{{ path ('_ajoutpanier',
            {'id':produits.id})}}">Ajouter au panier<br></a>



        </ul>

        <form action="{{path("_rating")}} " method="post">
            <input type="number" max="5" name="rating" placeholder="Donner un note /5">
            <input type="hidden" value="{{ produits.id }}" name="id">
            <input type="submit">
        </form>

        <div class="clear"></div>

    {% endfor %}

    </div></div><div class="text-center">
    {{ knp_pagination_render(p) }}
</div>
{% endblock %}