{% extends "@Template/BackOffice/produits.html.twig" %}
{% block produits %}
<h1>Liste des produits</h1>

    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Categorie</th>
        <th>Prix</th>
        <th>Quantité stock</th>
        <th>Image</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>

    {% for produits in p %}
    <tr>
        <td> {{ produits.id }}</td>
        <td> {{ produits.nom }}</td>
        <td> {{ produits.categorie }}</td>
        <td> {{ produits.prix }}</td>
        <td> {{ produits.quantiteStock }}</td>
        <td><img src="{{ asset('uploads/images/' ~ produits.image) }}" width="50px" height="50px"></td>
        <td> <a href="{{ path ('_updateproduit',{'id':produits.id}) }}">Update</a></td>
        <td> <a href="{{ path ('_deleteproduit',{'id':produits.id}) }}">Delete</a></td>

    </tr>
    {% endfor %}

   <tr>  <a href="{{ path ('_rechercheproduit') }}">Effectuer une recherche</a> </tr>


{% endblock %}

